<template>
  <v-dialog
    :v-model="true"
  >
    <v-card>
      <v-card-title>
        Confirm delete
      </v-card-title>
      <v-card-text>
        Are you sure you want to delete this item?
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          text
          @click="dialog = false"
        >
          Confirm
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ConfirmDialog',
  props: ['confirm-delete', 'dialog']
}  
</script>