<template>
  <div class="header">
    <v-app-bar
      dense
      fixed
      color="black"
      dark
    >
      <v-toolbar-title class="title">Wunderman Thompson Application</v-toolbar-title>
    </v-app-bar>
  </div>
</template>
 
<script>
export default {
  name: 'Header'
}  
</script>

 

