<template>
  <v-container>
    <v-snackbar
      v-model="snackbar"
      :timeout="2000"
      :color="snackbarColor"
      top
      right
    >
      {{ snackbarMessage }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
    <v-card>
      <v-container> 
        <v-card-title>
          Users
          <v-btn color="primary" @click="openCreateUser" class="ml-4">
            New
            <v-icon>mdi-plus-circle-outline</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
        <v-row dense>
          <v-col cols="4">
            <v-select
              outlined
              dense
              v-model="selectedSearch"
              :items="itemsSearch"
            ></v-select>
          </v-col>
          <v-col v-if="
            selectedSearch === 'active' ||
            selectedSearch === 'verified' ||
            selectedSearch === 'shared' ||
            selectedSearch === 'suspended'
          " cols="6"
            class="ml-2"
          >
            <v-radio-group
              v-model="radioButton"
              dense
              row
            >
              <v-radio
                label="Yes"
                :value="true"
              ></v-radio>
              <v-radio
                label="No"
                :value="false"
              ></v-radio>
            </v-radio-group>
          </v-col>
          <v-col
            cols="4"
            v-if="selectedSearch === 'created_at'"
          >
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="createdAtFormatted"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="createdAtFormatted"
                  label="From"
                  readonly
                  outlined
                  dense
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dateCreatedAt"
                no-title
                scrollable
              >
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="menu = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  text
                  color="primary"
                  @click="filterByCreatedAt(dateCreatedAt)"
                >
                  OK
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col v-if="
            selectedSearch === 'alias' ||
            selectedSearch === 'email' ||
            selectedSearch === 'phone' ||
            selectedSearch === 'role' ||
            selectedSearch === 'name' ||
            selectedSearch === 'ticket' ||
            selectedSearch === 'organization'
          " 
          cols="8">
            <v-autocomplete
              v-model="searchModel"
              :items="items"
              outlined
              dense
              small
              clearable
              hide-details
              hide-selected
              no-filter
              return-object
              :search-input.sync="search"
              placeholder="Type here to search"
            >
              <template v-if="selectedSearch === 'name'" v-slot:item="{item}">
                <slot
                  name="item"
                  :data="item"
                >
                  <template>
                    <v-list-item-content>
                      <v-list-item-title>
                        <strong>{{ item.text }}</strong>
                      </v-list-item-title>
                      <v-list-item-subtitle>Organization name: {{ item.value.organization_name }}</v-list-item-subtitle>
                      <v-list-item-subtitle>Ticket: {{ item.value.ticket }}</v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </slot>
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
        </v-card-text>
      </v-container>
      <v-data-table
        :headers="headers"
        :items="users"
        :options="pagination"
        :server-items-length="pagination.totalElements"
        :items-per-page="pagination.size"
        @update:options="changeOptions"
        class="elevation-1"
      >
        <template v-slot:[`item.name`]="{ item }">
          <v-row dense>
            <a href="#" @click="viewUser(item)">{{ item.name }}</a>
          </v-row>
        </template>
        <template v-slot:[`item.active`]="{ item }">
          <v-row v-if="item.active" dense>
            Yes
          </v-row>
          <v-row v-else dense>
            No
          </v-row>
        </template>
        <template v-slot:[`item.actions`]="{ item }">
          <v-row dense>
            <v-btn icon @click="deleteUser(item)">
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-row>
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
import UserAPI from '../api/users';
import _ from 'lodash';
import OrganizationAPI from '../api/organizations';
import TicketAPI from '../api/tickets';

export default {
  name: 'UserList',
  data() {
    return {
      searchModel: null,
      items: [],
      menu: false,
      dateCreatedAt: null,
      createdAtFormatted: null,
      pagination: {
        page: 1,
        size: 5,
        totalElements: 0
      },
      currentFilter: {},
      radioButton: null,
      searchPagination: {
        page: 1,
        size: 300,
        totalElements: 0
      },
      users: [],
      dialog: true,
      snackbar: false,
      snackbarMessage: '',
      snackbarColor: '',
      headers: [
        {
          text: 'Name',
          value: 'name',
          sortable: false
        },
        {
          text: 'Email',
          value: 'email',
          sortable: false
        },
        {
          text: 'Phone',
          value: 'phone',
          sortable: false
        },
        {
          text: 'Active',
          value: 'active',
          sortable: false
        },
        {
          text: '',
          value: 'actions',
          sortable: false
        }
      ],
      tempItemDelete: null,
      itemsSearch: [
        { 
          text: 'Name',
          value: 'name'
        },
        { 
          text: 'Alias',
          value: 'alias'
        },
        { 
          text: 'Email',
          value: 'email'
        },
        { 
          text: 'Phone',
          value: 'phone'
        },
        { 
          text: 'Active',
          value: 'active'
        },
        { 
          text: 'Verified',
          value: 'verified'
        },
        { 
          text: 'Shared',
          value: 'shared'
        },
        { 
          text: 'Organization name',
          value: 'organization'
        },
        { 
          text: 'Tickets',
          value: 'ticket'
        },
        { 
          text: 'Role',
          value: 'role'
        },
        { 
          text: 'Created at',
          value: 'created_at'
        },
        { 
          text: 'Suspended',
          value: 'suspended'
        },
        { 
          text: 'Role',
          value: 'role'
        }
      ],
      search: null,
      selectedSearch: 'name'
    }
  },
  async mounted() {
    await this.getUsers();
  },
  methods: {
    async changeOptions(pagination) {
      if (!_.isEqual(this.pagination, pagination)) {
        this.pagination = pagination;
        
        if (!_.isEmpty(this.currentFilter)) {
          let content = {};
          if (this.currentFilter.selected) {
            content = await UserAPI.filterUsers(this.pagination, this.currentFilter.selected.text, this.currentFilter.selectedSearch);
          } else {
            content = await UserAPI.filterUsersByBoolean(this.pagination, this.currentFilter.bool, this.currentFilter.selectedSearch);
          }

          if (content) {
            this.users = content.data;
            this.pagination = content.pagination;
          } else {
            await this.getUsers();
          }
        } else {
          await this.getUsers();
        }
      } 
    },
    async getUsers() {
      try {
        const content = await UserAPI.getUsers(this.pagination);

        if (content) {
          this.users = content.users;
          this.pagination = content.pagination;
        }
      } catch(err) {
        this.showSnackbar('Users could not be loaded.', false);
      } 
    },
    showSnackbar(message, success) {
      this.snackbarMessage = message;
      this.snackbar = true;

      if (success) {
        this.snackbarColor = 'green';
      } else {
        this.snackbarColor = 'red';
      }
    },
    async deleteUser(item) {
      try {
        const content = await UserAPI.deleteUser(item._id);

        if (content) {
          this.tempItemDelete = null;
          await this.getUsers();
        }
      } catch(err) {
        this.showSnackbar('User could not be deleted.', false);
      }
    },
    openCreateUser() {
      this.$router.push({
        name: 'createUser'
      });
    },
    async filterByCreatedAt(date) {
      try {
        this.menu = false;
        this.$refs.menu.save(this.createdAtFormatted);
        this.pagination.page = 1;
        if (!date) {
          await this.getUsers();
          this.items = [];
          this.currentFilter = {};
          return;
        }
        this.currentFilter = {
          selectedSearch: this.selectedSearch,
          selected: date
        };

        const content = await UserAPI.filterUsers(this.pagination, date.toString(), this.selectedSearch);

        if (content) {
          this.users = content.data;
          this.pagination = content.pagination;
        }
      } catch(err) {
        this.showSnackbar('Error during search.', false);
      } 
    },
    viewUser(item) {
      this.$router.push({
        name: 'viewUser',
        params: {
          id: item._id
        }
      });
    }
  },
  watch: {
    async radioButton(value) {
      try {
        this.pagination.page = 1;
        this.currentFilter = {
          selectedSearch: this.selectedSearch,
          bool: value
        };
        const content = await UserAPI.filterUsersByBoolean(this.pagination, value, this.selectedSearch);
        if (content) {
          this.users = content.data;
          this.pagination = content.pagination;
        }
      } catch(err) {
        this.showSnackbar('Error during search.', false);
      } 
    },
    async searchModel(selected) {
      try {
        this.pagination.page = 1;
        if (!selected) {
          await this.getUsers();
          this.items = [];
          this.currentFilter = {};
          return;
        }
        this.currentFilter = {
          selectedSearch: this.selectedSearch,
          selected: selected.text
        };

        const content = await UserAPI.filterUsers(this.pagination, selected.text, this.selectedSearch);

        if (content) {
          this.users = content.data;
          this.pagination = content.pagination;
        }
      } catch(err) {
        this.showSnackbar('Error during search.', false);
      } 
    },
    dateCreatedAt(value) {
      const [year, month, day] = value.split('-')
      this.createdAtFormatted = month + "/" + day + "/" + year;
    },
    async search(text) {
      this.pagination.page = 1;
      if (!text) {
        await this.getUsers();
        this.items = [];
        this.currentFilter = {};
        return;
      }

      let content = {};

      switch (this.selectedSearch) {
        case 'organization':
          content = await OrganizationAPI.filterOrganizations(this.searchPagination, text);
          break;
        case 'ticket':
          content = await TicketAPI.filterTickets(this.searchPagination, text);
          break;
        case 'role':
          content.data = [
            { role: 'admin' },
            { role: 'end-user' },
            { role: 'agent' }
          ].filter(item => item.role.includes(text));
          break;
        default:
          content = await UserAPI.filterUsers(this.searchPagination, text, this.selectedSearch);
          break;
      }
     
      if (content) {
        this.items = content.data.map(item => {
          return {
            text: this.selectedSearch === 'organization' ? item.name : item[this.selectedSearch],
            value: item
          }
        });
      } else {
        this.items = [];
      }
    },
  }
};
</script>