<template>
  <v-container>
    <v-snackbar
      v-model="snackbar"
      :timeout="2000"
      :color="snackbarColor"
      top
      right
    >
      {{ snackbarMessage }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
    <v-row dense>
      <v-col>
        <v-btn text @click="goBack" class="mb-4"><v-icon>mdi-arrow-left</v-icon> Back</v-btn>
      </v-col>
    </v-row>
    <v-card>
      <v-container> 
        <v-card-title>
          Create user
        </v-card-title>
        <v-card-text>
          <v-row dense>
            <v-col cols="6">
              <v-text-field
                v-model="user.name"
                label="Name *"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="user.alias"
                label="Alias"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-text-field
                v-model="user.email"
                label="Email *"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                v-model="user.phone"
                type="number"
                label="Phone"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-text-field
                v-model="user.signature"
                label="Signature"
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-autocomplete
                v-model="organizationSelected"
                :items="organizations"
                clearable
                hide-details
                hide-selected
                required  
                no-filter
                return-object
                label="Organization *"
              />
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="6">
              <v-combobox
                v-model="tagsSelected"
                :items="tags"
                label="Tags"
                class="mt-2"
                multiple
                dense
                chips
              ></v-combobox>
            </v-col>
            <v-col cols="6">
              <v-select
                v-model="user.role"
                :items="roles"
                label="Role *"
              ></v-select>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="2">
              <v-checkbox
                v-model="user.active"
                dense
                label="Active"
              ></v-checkbox>
            </v-col>
            <v-col cols="2">
              <v-checkbox
                dense
                v-model="user.verified"
                label="Verified"
              ></v-checkbox>
            </v-col>
            <v-col cols="2">
              <v-checkbox
                v-model="user.shared"
                dense
                label="Shared"
              ></v-checkbox>
            </v-col>
            <v-col cols="4">
              <v-checkbox
                v-model="user.suspended"
                dense
                label="Suspended"
              ></v-checkbox>
            </v-col>
            <v-col cols="2">
              <v-btn :disabled="!isFormValid" class="mt-4 right" @click="saveUser" color="primary">Save</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
import OrganizationAPI from '../api/organizations';
import UserAPI from '../api/users';
import _ from 'lodash';

export default {
  name: 'UserCreate',
  data() {
    return {
      user: {},
      organizations: [],
      tagsSelected: [],
      snackbar: false,
      snackbarMessage: '',
      snackbarColor: '',
      tags: [],
      roles: [
        'admin',
        'end-user',
        'agent',
      ],
      organizationSelected: {}
    }
  },
  computed: {
    isFormValid() {
      return this.user.name && this.user.email && !_.isEmpty(this.organizationSelected) && this.user.role;
    }
  },
  async mounted() {
    try {
      const organizations = await OrganizationAPI.getOrganizations();

      if (organizations) {
        this.organizations = organizations.map(item => {
          return {
            text: item.name,
            value: item
          }
        });
      }
    } catch(err) {
      this.showSnackbar('Organizations could not be loaded.', false);
    } 
  },
  methods: {
    async saveUser() {
      try {
        this.user = {
          ...this.user,
          organization_id: this.organizationSelected.value._id,
          tags: this.tagsSelected,
          last_login_at: '',
          active: this.user.active || false,
          verified: this.user.verified || false,
          shared: this.user.shared || false,
          suspended: this.user.suspended || false,
        }
        const content = await UserAPI.saveUser(this.user);

        if (content) {
          this.showSnackbar('User saved successfully.', true);
          this.user = {};
          this.organizationSelected = {};
        }
      } catch(err) {
        this.showSnackbar('User could not be saved.', false);
      } 
    },
    showSnackbar(message, success) {
      if (success) {
        this.snackbarColor = 'green';
      } else {
        this.snackbarColor = 'red';
      }
      this.snackbarMessage = message;
      this.snackbar = true;
    },
    goBack() {
      this.$router.push({
        name: "users"
      })
    }
  }
};
</script>