<template>
  <v-container>
    <template v-slot:action="{ attrs }">
      <v-btn
        color="white"
        text
        v-bind="attrs"
        @click="snackbar = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </template>
    <v-row dense>
      <v-col>
        <v-btn text @click="goBack" class="mb-4"><v-icon>mdi-arrow-left</v-icon> Back</v-btn>
      </v-col>
    </v-row>
    <v-card>
      <v-container> 
        <v-card-title class="mb-4">
          View user
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="4">
                <v-row><strong>Name</strong></v-row>
                <v-row>
                {{ user.name }}
                </v-row>
              </v-col>
              <v-col cols="4">
                <v-row><strong>Alias</strong></v-row>
                <v-row>
                {{ user.alias }}
                </v-row>
              </v-col>
              <v-col cols="4">
                <v-row><strong>Email</strong></v-row>
                <v-row>
                {{ user.email }}
                </v-row>
              </v-col>
            </v-row>
            <v-row class="mt-6">
              <v-col cols="4">
                <v-row><strong>Phone</strong></v-row>
                <v-row>
                {{ user.phone }}
                </v-row>
              </v-col>
              <v-col cols="4">
                <v-row><strong>Signature</strong></v-row>
                <v-row>
                {{ user.signature }}
                </v-row>
              </v-col>
              <v-col cols="4">
                <v-row><strong>Organization</strong></v-row>
                <v-row>
                {{ user.organization_name }}
                </v-row>
              </v-col>
            </v-row>
            <v-row class="mt-6">
              <v-col cols="12">
                <v-row><strong>Ticket information</strong></v-row>
                <v-row v-for="ticket in user.tickets" :key="ticket._id" class="mb-1">
                  {{ ticket.subject }} - {{ ticket.description }}
                </v-row>
              </v-col>
            </v-row>
            <v-row class="mt-6">
              <v-col cols="12">
                <v-row><strong>Tags</strong></v-row>
                <v-row>
                  <v-chip class="mr-2 mt-2" v-for="tag in user.tags" :key="tag">
                    {{ tag }}
                  </v-chip>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="mt-6">
              <v-col cols="4">
                <v-row><strong>Role</strong></v-row>
                <v-row>
                {{ user.role }}
                </v-row>
              </v-col>
              <v-col cols="2">
                <v-row><strong>Active</strong></v-row>
                <v-row v-if="user.active">
                  Yes
                </v-row>
                <v-row v-else>
                  No
                </v-row>
              </v-col>
              <v-col cols="2">
                <v-row><strong>Verified</strong></v-row>
                <v-row v-if="user.verified">
                  Yes
                </v-row>
                <v-row v-else>
                  No
                </v-row>
              </v-col>
              <v-col cols="2">
                <v-row><strong>Shared</strong></v-row>
                <v-row v-if="user.shared">
                  Yes
                </v-row>
                <v-row v-else>
                  No
                </v-row>
              </v-col>
              <v-col cols="2">
                <v-row><strong>Suspended</strong></v-row>
                <v-row v-if="user.suspended">
                  Yes
                </v-row>
                <v-row v-else>
                  No
                </v-row>
              </v-col>
            </v-row>
            <v-row class="mt-6">
              <v-col cols="2">
                <v-row><strong>Created at</strong></v-row>
                <v-row>
                {{ user.created_at  }}
                </v-row>
              </v-col>
              <v-col cols="2">
                <v-row><strong>Last login at</strong></v-row>
                <v-row>
                {{ user.last_login_at  }}
                </v-row>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-container>
    </v-card>
  </v-container>
</template>

<script>
// import OrganizationAPI from '../api/organizations';
import UserAPI from '../api/users';
import moment from 'moment';

export default {
  name: 'UserCreate',
  data() {
    return {
      user: {},
      name: '',
      organizations: [],
      tagsSelected: [],
      tags: [],
      roles: [
        'admin',
        'end-user',
        'agent',
      ],
      organizationSelected: {}
    }
  },
  computed: {
    getUser() {
      return this.user;
    }
  },
  async mounted() {
    try {
      const { params: { id }} = this.$router.currentRoute
      const user = await UserAPI.getUserById(id);
      if (user) {
        if (user.created_at.indexOf(' ') >= 0) {
          user.created_at = moment.utc(user.created_at.split(' ').join('')).local().format('MM/DD/YYYY HH:mm');
        } else if (user.created_at) {
          user.created_at = moment.utc(user.created_at).local().format('MM/DD/YYYY HH:mm');
        }

        if (user.last_login_at.indexOf(' ') >= 0) {
          user.last_login_at = moment.utc(user.last_login_at.split(' ').join('')).local().format('MM/DD/YYYY HH:mm');
        } else if (user.last_login_at) {
          user.last_login_at = moment.utc(user.last_login_at).local().format('MM/DD/YYYY HH:mm');
        }
        this.user = user;
      }
    } catch(err) {
      this.showSnackbar('User could not be loaded.', false);
    } 
  },
  methods: {
    goBack() {
      this.$router.push({
        name: "users"
      })
    }
  }
};
</script>