<template>
  <v-app>
    <Header />
    <router-view />
  </v-app>
</template>

<script>
import Header from '@/components/Header.vue';
import './assets/main.scss';

export default {
  name: 'App',
  components: {
    'Header': Header
  },
  data: () => ({
    //
  }),
};
</script>
